body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background: #006400;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  flex: 1;
  padding: 1em;
}

#filters {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.course {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 8px;
}

button {
  margin-top: 0.5em;
  cursor: pointer;
}